/* DRAWINGS */
.img__tower {
  width: 100px;
  z-index: 0;
  right: 15%;
  top: 290px;
  opacity: .9;
  position: absolute;
}

.img__sun {
  width: 55px;
  z-index: 0;
  opacity: .85;
}

.img__cloud {
  left: 45px;
  top: 108px;
  width: 35px;
  z-index: 1;
  position: absolute;
}

/* END DRAWINGS */

.main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.presentation,
.mywork {
  padding: 25px;
}

.presentation {
  flex-direction: column;
  align-items: flex-start;
}

.h1 {
  font-size: 20px;  
  margin-top: 15px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-family: var(--font-mochiy);
}

.paragraph__presentation {
  font-size: 14px;
  max-width: 450px;
  letter-spacing: 1.3px;
  color: var(--color-main-light);
}

.quotation {
  padding: 10px 20px;
  line-height: 1.4;
  quotes: "\201C""\201D""\2018""\2019";
}

.quotation:before {
  content: open-quote;
  position: relative;
  display: inline;
  line-height: 0;
  left: -10px;
  height: 0;
  top: 15px;
  font-size: 2.3em;
  color: var(--color-secondary);
}
.quotation::after {
  content: close-quote;
  position: relative;
  display: inline;
  line-height: 0;
  height: 0;
  left: 10px;
  top: 15px;
  font-size: 2.3em;
  color: var(--color-secondary);
}

.link__img {
  width: 25px;
  padding: 2.5px;
  margin-top: 1.2vw;
  border-radius: 50%;
  transition: .8s ease-in-out;
  filter: var(--color-main-filter)
}.link__img:hover {
  transform: scale(1.09);
  filter: invert(25%) sepia(97%) saturate(483%) hue-rotate(194deg) brightness(92%) contrast(96%); 
}

.mywork {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mywork__container {
  width: 80%;
  height: 100%;
  margin: 45px 0;

  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr;
  gap: 5px;
}

.mywork__hr {
  margin-top: 3px;
  width: 90%;
}

.card {
  flex-direction: column;
  overflow: hidden;
  border-radius: 2px;
  max-height: 160px;
  transition: 0.3s ease-in-out;
}.card:hover {
  transform: scale(1.03);
  box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.13);
  -webkit-box-shadow: -3px 5px 5px 0px rgba(0,0,0,0.13);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link__icons {
  margin-right: 4px;
  width: 11px;
  height: 11px;
  filter: invert(25%) sepia(3%) saturate(960%) hue-rotate(163deg)
    brightness(102%) contrast(84%);
  /* filter: invert(82%) sepia(33%) saturate(391%) hue-rotate(196deg) brightness(106%) contrast(103%); */
  /* filter: invert(65%) sepia(96%) saturate(338%) hue-rotate(357deg) brightness(93%) contrast(93%); */
}

.link__aboutme {
  position: relative;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 1.2em;
  text-decoration: none;
  color: var(--color-main);
  font-family: var(--font-comissioner);
  transition: 0.3s ease-in-out;
}

.link__aboutme:hover {
  transform: scale(1.01);
}

.icon_mouse {
  filter: var(--color-main-filter);
  transform: rotate(335deg);
  position: absolute;
  top: 6.5px;
  right: -12px;
  width: .8em;
}

@media (min-width: 360px) {
  .h1 {
    font-size: 6vw;
  }

  .paragraph__presentation {
    font-size: 3vw;
  }

  .mywork__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .img__tower {
    top: 330px;
  }

  .link__img {
    margin-top: 20px;
  }

}

@media (min-width: 610px) {


  .paragraph__presentation {
    max-width: none;
  }

  .card {
    max-height: 30vw;
  }

  .link__img {
    margin-top: 1vw;
    padding: .4vw;
    width: 3.2vw;
  }.link__img:hover {
    transform: scale(1.09);
  }

  .img__tower {
    top: 280px;
  }
}

@media (min-width: 950px) {
  /* DRAWINGS */
  .img__tower {
    opacity: .85;
    width: 15vw;
    right: 55vw;
    top: 27vw;
  }

  .img__sun {
    width: 6vw;
    opacity: .8;
  }

  .img__cloud {
    top: 7.2vw;
    left: 2vw;
    right: 10vw;
    width: 5.2vw;
  }

  /* DRAWINGS */
  
  .presentation {
    padding: 0.5vw 2vw;
  }
  .h1 {
    font-size: 3vw;
  }
  .paragraph__presentation {
    font-family: var(--font-barlow);
    font-size: 1.3vw;
  }

  .main {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 100%;

  }

  .mywork__container {
    height: auto;
    width: 60%;
    gap: 1vw;
  }

  .card {
    width: 100%;
    height: 11vw;
  }
}

@media (min-width: 1200px) {
  .mywork__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: auto;
    width: 70%;
    gap: .5vw;
  }
} 
