@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;600;700&family=Fraunces:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --font-comissioner: 'Commissioner', sans-serif;
    --font-fraunces: 'Fraunces', serif;
    --font-main: 'Barlow', sans-serif;
    --color-background: #EFF8FB;
    --color-main: #263165;
    --color-main-dark: #141a35;
    --color-main-light: #374692;
    --color-secondary: #EF7D3C;

    --color-green: #60955F;
    /* --color-alternative-gray: #5B6775;
    --color-alternative-red: #B12A1C;
    --color-alternative-yellow: #E6AD38; */

    --header-height: 50px;
    --header-height-desktop: 3vw;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 12px;
    color: var(--color-main);
    font-family: var(--font-fraunces);
    background: var(--color-background);
}

.display-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.cursor-pointer {
    cursor: pointer;
}

.color-secondary {
    color: var(--color-secondary);
}

.shadows {
    box-shadow: -3px 4px 12px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -3px 4px 12px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -3px 4px 12px 1px rgba(0, 0, 0, 0.1);
}
