body {
    font-family: var(--font-readex);
}

.header {
	background: var(--color-secondary);
	padding: 1.2em;
}

.nav {
	margin: auto 1.4em;
}

.nav__a {
	font-size: 1.2em;
	align-items: center;
	text-decoration: none;
	color: var(--color-background);
	border-bottom: 1px solid transparent;
}

.nav__a:hover {
	transition: .3s ease-in-out;
	border-bottom: 1px solid var(--color-background);
}

.nav__img {
	width: 1em;
	margin-right: .2em;
}

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 35vh;
	font-size: 1.3em;
	text-transform: uppercase;
}

.small {
	font-size: initial;
	font-style: italic;
}

.container {
	margin: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
    
}

.container::after {
	content: "";
	width: 2px;
	height: 100%;
	background: var(--color-main);
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.evento {
	display: flex;
	justify-content: space-between;
    align-items: center;
	margin-bottom: 100px;
	position: relative;
}

.evento::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: var(--color-background-darker);
	border: 2px solid var(--color-main);
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.info {
	padding: 5px;
	width: calc(42% + 20px);
	font-size: 1em;
	font-weight: normal;
}

.picture {
	width: 42%;
	border: 10px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.picture::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -50px;
	top: calc(50% - 20px);
}

.picture img {
	width: 100%;
	vertical-align: top;
}

.evento:nth-child(even) {
	flex-direction: row-reverse;
}

.evento:nth-child(even) .info {
	justify-content: end;
}

.evento:nth-child(even) .picture::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -50px;
}

.list {
    margin-top: 1em;
    margin-left: 1em;
}

.li {
	align-items: center;
}

.li__img {
	/* AQUI!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
	width: 30px; 
}

.link {
    color: var(--color-secondary);
}

.footer {
	margin: 100px auto 30px;
	justify-content: center;
}

.footer__img {
	width: 1.5em;
	filter: invert(55%) sepia(88%) saturate(937%) hue-rotate(335deg) brightness(98%) contrast(92%);
	margin-right: .5em;
}

.footer__a {
	font-size: 1.5em;
	letter-spacing: .03em;
	text-decoration: none;
	color: var(--color-secondary);
}

.footer__a:hover {
	text-decoration: underline;
}

@media (min-width: 750px) {
	.header {
		padding: 1.3vh;
	}

	.nav {
		margin: auto 1.4vh;
	}

	.nav__a {
		font-size: 2vh;
	}

	.nav__img {
		width: 2vh;
		margin-right: .5vh;
	}

	.hero {
		font-size: 3em;
	}

	.container {
		width: 70%;
		max-width: 3500px;
		margin: 10vh auto;
	}

	.evento {
		margin-bottom: 28vh;
	}

	.info {
		font-size: 2.4em;
		padding: 0;
	}
}

@media (min-width: 1200px) {
	.hero {
		font-size: 4vh;
	}

	.small {
		font-size: 1.5vh;
	}
	
	.info {
		font-size: 3.8vh;
	}

	.li__img {
		width: 4vh;
	}
}