.main {
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  margin: auto;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: auto;
}

.container {
    width: 100%;
    height: auto;
}

.container__img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container__info,
.container__title,
.container__links,
.container__techs {
    font-family: var(--font-comissioner);
    padding: 8vw;
}

.container__title {
    background: #000;
}

.title {
    color: var(--color-background);
    font-size: 1.5rem;
}
.paragraph__info {
    color: var(--color-main-light);
    letter-spacing: 1.2px;
    line-height: 1.6;
    margin: 15px 0 20px 0;
}

.a__info {
    font-family: var(--fount-fraunces);
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-main-light);
    margin-top: 2vw;
    text-decoration: none;
    color: var(--color-background); 
}

.a__info:nth-child(3) {
    margin-bottom: 15px;
}

.a__icon {
    width: 14px;
    margin-right: 2vw;
    filter: invert(87%) sepia(25%) saturate(657%) hue-rotate(189deg) brightness(103%) contrast(105%);
}

.a__icon--github {
    width: 14.5px;
}

.container__info {
    width: 60%;
    height: 100%;
}

.container__hr {
    margin: 20px 0;
}

.h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.list {
    list-style: none;
}

.div__container_images {
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
}

.div__preview {
    width: 60%;
    height: 200px;
    overflow: auto;
    /* background: chartreuse; */
}

.container__links {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    align-items: center;
    justify-content: space-between;
}

.img__preview,
.img__preview--desktop {
    width: 100%;
}

.img__preview--desktop {
    display: none;
}

.arrow {
    width: 25px;
    margin-left: 8px;
}
.arrow--left {
    margin-left: 0;
    margin-right: 8px;
    transform: rotate(180deg);
}

.btn__project {
    color: var(--color-alternative-yellow);
    align-items: center;
    background: none;
    font-size: 12px;
    border: none;
    padding: 5px;
}

.container__techs {
    /* border-top: 15px solid var(--color-alternative-yellow); */
    /* border-bottom: 15px solid var(--color-alternative-yellow); */
    align-items: center;
    justify-content: space-evenly;
    /* background: #fff; */
    background-color: var(--color-alternative-yellow);
    color: var(--color-background);

}

.img__techs {
    width: 50px;
    height: 60px;
}


@media (min-width: 600px) {
    /* botomm pa la izquierda */
    /* .section__lower {
        grid-template-columns: .5fr 2fr;
        grid-template-rows: 1fr;
    } */

    .container__info {
        padding: 5vw;
    }

    /* .container__techs {
        flex-direction: column;
        order: 1;
    }

    .container--order {
        order: 2;
    } */

    .div__container_images {
        padding: 15px;
    }

    .div__preview {
        height: 300px;
    }

    .btn__project {
        font-size: 2vw;
    }

    .container__techs {
        padding: 30px;
    }

}

@media (min-width: 1000px) {

   
    .container__resize {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        height: auto;
    }

    .div__preview {
        overflow: hidden;
        width: 400px;
        height: 400px;
    }

    .container__img {
        height: auto;
    }

    .img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .img__preview--desktop {
        display: inline;
        object-fit: cover;
        height: 100%;
    }

    .container__title {
        border-bottom: 2px solid #fff;
    }

    .img__preview {
        /* object-fit: cover; */
        display: none;
    }

    .btn__project {
        font-size: 1vw;
    }

    .arrow {
        width: 1.8vw;
    }

    .container__techs {
        justify-content: flex-start;
        padding: .8vw;
    }

    .img__techs {
        width: 3vw;
        height: 3.2vw;
        margin: 0 1vw;
    }

    .test {
        background-color: firebrick;
    }


}
