.main {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
}

.section_image {
  width: 100%;
  height: auto;
  position: relative;
}

.container__img {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

.container__btns {
  top: 3vw;
  z-index: 2;
  width: 100%;
  position: fixed;
  justify-content: center;
}.btn__slider {
  width: auto;
  opacity: .9;
  font-size: 10px;
  margin: 0 1px;
  padding: 5px 12px;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background: var(--color-main);
  
  font-family: var(--font-mochiy);
  color: var(--color-background);
}.img__slider {
  margin: 0 3px;
  width: 8px;
}.img__slider--width {
  width: 12px;
}.btn__slider:hover {
  transition: 0.2s ease-in;
  background: var(--color-main-light);
  transform: scale(1.02);
  opacity: 1;
}

/* SECTION TITLE */

.section__title {
  padding: 8vw;
  background: var(--color-main-dark);
  font-family: var(--font-comissioner);
}

.title {
  font-size: 1.5rem;
  color: var(--color-background);
  font-family: var(--font-mochiy);
}
.paragraph__info {
  line-height: 1.6;
  margin: 15px 0 20px 0;
  letter-spacing: 1.2px;
  color: var(--color-background);
}

.paragraph__info {
  text-align: justify;
}

.a__info,
.a__info--nolivesite {
  display: flex;
  font-size: 1rem;
  margin-top: 2vw;
  padding-bottom: 5px;
  align-items: center;
  text-decoration: none;
  color: var(--color-background);
  font-family: var(--fount-fraunces);
  /* background: red; */
}
.a__info {
  border-bottom: 1px solid var(--color-main-light);
}
.a__info:hover {
  color: var(--color-background-darker);
  border-bottom: 1px solid var(--color-background-darker);
  transition: 0.2s ease-in-out;
  /* transform: scale(0.99); */
}

.a__info:nth-child(3) {
  margin-bottom: 15px;
}

.a__icon {
  width: 14px;
  margin-right: 2vw;
  filter: invert(87%) sepia(25%) saturate(657%) hue-rotate(189deg)
    brightness(103%) contrast(105%);
}

.a__icon--github {
  width: 14.5px;
}

/* SECTION TITLE END */

/* SECTION ABOUT */
.section__about {
  width: 100%;
  height: auto;
  flex-direction: column;
}

.container__info {
  padding: 8vw;
  font-family: var(--font-comissioner);
}

.container__info {
  width: 60%;
  height: auto;
}

.container__hr {
  margin: 20px 0;
}

.h4 {
  font-family: var(--font-mochiy);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  /* CORRIGIENDO LOS PADDING ADAPTABLES */
}

.div__container_images {
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

.container__techs {
  display: none;
}

.div__preview {
  margin: 15px 0;
  width: 50%;
  min-height: 200px;
  height: 50vw;
  overflow: auto;
}

.img__preview {
  min-height: 200px;
  width: 100%;
}
/* SECTION ABOUT END */

/* FOOTER */

.container__social {
  padding: 5px;
  background-color: var(--color-secondary);
}

.link__social {
  margin: 0 6px;
  align-items: center;
  justify-content: center;
}

.img__social {
  width: 15px;
  filter: invert(87%) sepia(25%) saturate(657%) hue-rotate(189deg)
    brightness(103%) contrast(105%);
}

@media (min-width: 800px) {

  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .section__image {
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 3;
  }

  .container__img {
    height: 100%;
  }

  .div__container_images {
    display: none;
  }

  .container__techs {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .section__about {
    height: 100%;
    justify-content: space-between;
  }

  .container__info {
    width: 80%;
  }


  .img__techs {
    width: 3vw;
    margin: 0.5vw;
  }
  
}

@media (min-width: 1300px) {
  .main {
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;
  }

  .section__image {
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
  }

  .container__img {
    height: 100%;
    /* transition: transform 1s; */
  }

  .container__btns {
    top: initial;
    width: auto;
    position: absolute;
    bottom: 2.5vw;
    left: 42%;
    padding: .1vw;
  }.btn__slider {
    font-size: .7vw;
    margin: 0 .03vw;
    padding: .5vw .8vw;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.1);
  }.img__slider {
    margin: 0 .2vw;
    width: .6vw;
  }.img__slider--width {
    width: .8vw;
  }.btn__slider:hover {
    box-shadow: none;
  }

  .section__title,
  .section__about {
    z-index: 1;
    box-shadow: -2px 0px 10px 0px rgba(38,41,101,0.1);
    -webkit-box-shadow: -2px 0px 10px 0px rgba(38,41,101,0.1);
    -moz-box-shadow: -2px 0px 10px 0px rgba(38,41,101,0.1);
  }

  .title {
    font-size: 2vw;
  }

  .paragraph__info {
    font-size: 0.9vw;
    margin: 1.5vw 0 2vw 0;
    letter-spacing: 0.13vw;
  }

  .container__info,
  .section__title {
    padding: 4vw;
  }
  
  .container__info {
    font-size: 1vw;
  }

  .a__icon {
    width: 1.3vw;
  }
  .a__info {
    font-size: 1.3vw;
    padding-bottom: 1vw;
  }

  .list {
    margin: 0.5vw 0;
  }

  .container__hr {
    margin: 1vw 0;
  }

  .h4 {
    font-size: 1.5vw;
  }

  .container__social {
    display: none;
  }

}
