.main {
    width: 100%;
    /* height: 100vh; */
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

.section_image {
    width: 100%;
    height: auto;
}

.container__img {
    width: 100%;
    width: 100%;
    height: auto;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.section__title {
    padding: 8vw;
    background: var(--color-main-dark);
    font-family: var(--font-comissioner);
}

.title {
    font-size: 1.5rem;
    color: var(--color-background);
    font-family: var(--font-mochiy);
}
.paragraph__info {
    line-height: 1.6;
    margin: 15px 0 20px 0;
    letter-spacing: 1.2px;
    color: var(--color-background);
}

.a__info {
    display: flex;
    font-size: 1rem;
    margin-top: 2vw;
    padding-bottom: 5px;
    align-items: center;
    text-decoration: none;
    color: var(--color-background); 
    font-family: var(--fount-fraunces);
    border-bottom: 1px solid var(--color-main-light);
}

.a__info:nth-child(3) {
    margin-bottom: 15px;
}

.a__icon {
    width: 14px;
    margin-right: 2vw;
    filter: invert(87%) sepia(25%) saturate(657%) hue-rotate(189deg) brightness(103%) contrast(105%);
}

.a__icon--github {
    width: 14.5px;
}


.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: khaki;
}

@media (min-width: 600px) {}

@media (min-width: 1000px) {}